.projects__list {

}

.projects__list__item__container {
  margin: auto;
  padding: 2rem;
  align-items: center;
}

.project__item__image {
  width: 200px;
}

.project__item__title {
  text-align: center;
}

.project__item__text {
  padding: 20px;
}

@media only screen and (min-width: 1024px) {
  .projects__list__item__container {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .projects__list__item__container  {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}