.skill__cards {
  padding: 1rem;
  background: #fff;
}

h1, h3 {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

p.experience__content  {
  text-align: center;
}

.achievement__item {
  font-size: 15px;
}

.achievement__list {
  margin-bottom: 20px;
}


.certificates {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
}

.certificates__wrapper {
  margin: 0 auto;
}

.skills__and__experience__container {
  display: flex;
  flex-flow:column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.skills__item {
  display: flex;
}

.skill__experience__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.skill__experience__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.skill__cards__container {
  display: flex;
  flex-flow: column;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.skill__cards__wrapper {
  display: flex;
  flex-direction: row;
  margin: 50px 0 45px;
  justify-content: space-evenly;
}

.skills__tree__container {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.skill__cards__items{
  display: flex;
  flex-direction: column;
}

.skill__cards__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  margin-bottom: 40px;
}

.skill__cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.skill__cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.skill__cards__item__text {
  color: #252e48;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

/* @media only screen and (min-width: 1024px) {
  .skill__cards__items {
    display: flex;
  }
} */

@media only screen and (max-width: 1024px) {
  .skill__cards__item {
    margin-bottom: 2rem;
  }
  
  .skills__item {
    font-size: smaller;
  }
}